  
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: rgb(82, 94, 85);
}

html,body{
    /* background-color: black; */
	height: 100%;
}

.container{

	margin: 0 auto;
	width: 100%;
	max-width: 1100px;
}

.clear{
	clear: both;
}

.title{
	font-size: 30px;
	font-weight: normal;
}

.teste{
	width: 100%;
	height: 90px;
}

header{
	width: 100%;
	padding: 20px 2%;
	/* position: fixed; */
	z-index: 3;
	/* background-color: rgba(250,250,250,0.5); */
	position: fixed;
	color: rgb(82, 94, 85);
	font-weight: normal;
	background-color: white;
}

header .container{
	max-width:1000px;
}

header .logo{
	float: left;
	margin: 0 auto;
	width: 180px;
	height: 70px;
	background-color: rgb(82, 94, 85);
}

header .menu-desktop{
	float: right;
	line-height: 70px;
}

header .menu-desktop ul li {
	display: inline-block;
	margin-left: 30px;
	cursor: pointer;
	font-size: 25px;
}

header .menu-mobile{
	display: none;
	float: none;
}

header .menu-mobile ul li {
	display: block;
	margin-top: 0px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-top: 0;
	padding: 15px 0;
	cursor: pointer;
	font-size: 20px;
}

header .menu-mobile ul li:nth-of-type(1){
	border-top: 1px solid rgba(0, 0, 0, 0.3); 
}

/*SLIDER */

.slider{
	/* background-color: black; */
	/*O segredo */
	/*Colocar a posição relativa, altura e largura em 100% sendo limitados */
	position: relative;
	width: 100%;
	max-width: 1150px;
	height: 100%;
	max-height:500px;
	/**/
	/* margin: 90px auto 0 auto; */
	margin: 0 auto;
	padding-top: 20px;
	
}

/*Imagem totalmente responsiva */

.slider img{
	background-size: contain;
	width: 100%;
	height: 100%;
	padding: 0 2%;
	display: none; /*Colocar o display oculto */
	/*Centralize ao meio */
	position: absolute;
	left: 50%; 
	top: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	/***/ 
	/*Para cobrir 100% do slide*/
	max-width: 100%;
	max-height: 100%;
	/***/
}

.bullets-nav{

	/*Posição absoluta para manipular a posição*/
	position: absolute;
	left: 50%;
	bottom:10px;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%); /*Para prestar no explorer*/
	/***/

	width: 100%; /*Terá largura máxima*/
	z-index: 3; /*Vai sobrepor tudo*/
	text-align: center; /*Será Alinhado ao centro*/
}

.bullets-nav span{
	/*Altura e largura fixa*/
	width: 16px;
	height: 16px;
	/**/
	display: inline-block; /*Se quebrara em linha*/
	border-radius: 8px; /*Redondos*/
	background-color: #ccc;
	cursor: pointer; 
	margin:0 20px;
}

/*3 COLUNAS */

.section-columns{
	width: 100%; 
	height: auto;
	padding-bottom: 20px;
	color: rgb(82, 94, 85);
}

.section-columns .container{

/*O SEGREDO É ESSE */
    text-align: center;  /*Colocar no pai para alinhar TODOS*/
	max-width: 1100px;

}

.section-columns .title{
	padding: 120px 0 60px 0;
	color:rgb(82, 94, 85);

}

.wraper{
	width: 33.333%; /*Cada coluna */
	max-width: 300px;
	height: 200px; /*Altura fixa */
	margin:  30px; /*Margin entre eles */
	display: inline-block; /*Alinha os display EM LINHA */
}

.wraper .icon{
	margin: 0 auto;
	width: 80px;
	height: 80px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position:center;
}

.wraper .icon1{
    background-image: url('../imagens/icon1.png');
}

.wraper .icon2{
    background-image: url('../imagens/icon2.png');
}

.wraper .icon3{
    background-image: url('../imagens/icon3.png');
}

.wraper h2{
	padding: 20px 0;
}

.wraper p{
	text-align: justify;
	padding-bottom: 90px;
}

/*GALERIA*/

.section-galeria{
	width: 100%;
	height: auto;
	padding: 10px 2% 0 2%;
	text-align: center;
	color:rgb(82, 94, 85);
	font-size: 20px;
	margin: 0 auto;
	
}

.section-galeria .container{
	max-width: 1100px;
	text-align: center;
}

.section-galeria h2{
	padding: 80px 2% 70px 2%;
	text-align: center;
}

.wraper-galeria{
	margin: 0 auto;

}

.wraper-galeria .imagem{
	border: 6px solid white;
	width: 25%;
	height: 200px;	
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	margin: 0 auto;
}

/*Section formulário*/

.section-form{
	padding: 80px 2%;

}

.info{
	width: 65%;
	height: auto;
	float: left;
	margin-top: 70px;
	
}

.info .servicos{
	width: 40%;
	text-align: center;
	float: left;
	position: relative;
	top: -35px;
}

.info .conteudo{
	width: 60%;
	float: right;
	padding: 0 30px;
	padding: 0 2%;
	text-align: justify;
	margin-top: 60px;
}

.info .perfil{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: 0 auto;
	background-color: rgba(82, 94, 85,0.2);

}

.info .servicos h2{
	font-weight: normal;
	margin-bottom: 50px;
}

form{
	background-color: rgba(82, 94, 85,0.2);
	width: 30%;
	max-width: 400px;
	height: auto;
	float: right;
	padding: 2%;
	border: 2px solid rgba(82, 94, 85,0.6);
}

.section-form form h2{
	padding: 20px 2%;
	text-align: center;
	font-weight: 700;
	border-bottom: 2px solid rgba(82, 94, 85,0.6);
	color: rgba(82, 94, 85,0.8);
}

.section-form input{
	width: 100%;
	height: 40px;
	margin-top: 20px;
	text-align: center;
	outline: none;
	border: 2px solid rgba(82, 94, 85,0.3);
	font-size: 15px;
	font-weight: 400;

}

.section-form .w50{
	width: 49%;
	float: left;
}

.section-form .w50:nth-of-type(2){
	margin-left: 2%;
	
}

.section-form input[type=submit]{
	width: 40%;
	position: relative;
	left: 30%;
	background-color: white;
	cursor: pointer;
}

.section-form input[type=submit]:hover{
	background-color: rgba(0, 0, 0, 0.1);
}


/*footer*/

footer{
	width: 100%;
	height: auto;
	padding-top: 50px;
	background-color: rgba(82, 94, 85,0.2);
}

footer a{
	cursor: pointer;
}

footer .container{
	padding:  30px 2%;
}

footer .foot{
	width: 20%;
	display: inline-block;

}

footer .foot ul{
	list-style-type: none;
	margin-left: 100px;
}

footer .foot ul li{
	margin-top: 2px;
	
}

footer .foot ul li:nth-of-type(1){
	font-weight: bold;
}

footer .inicio{
	position: relative;
	top:-19px;
}

footer .suporte{
	position: relative;
	top: -19px;
}

footer .contato{
	width: 20%;
	height: auto;
	float: right;
	margin: 8px auto 0 auto; 
}

footer .contato .social{
	width: 40px;
	height: 40px;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
	margin-left: 20px;
	cursor: pointer;
}

footer .contato .social:nth-of-type(1){
	margin-left: 30px;
}

footer .contato p{
	display: block;
	margin: 50px auto 20px auto;
	font-size: 26px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	text-align: center;
	
}

.footFinal{
	padding: 20px 2%;
	background-color: rgba(82, 94, 85,0.2);
}

.footFinal{
	text-align: center;
}


@media screen and (max-width: 710px){

	.section-columns h2{
		font-size: 20px;
	}

	.title{
		font-size: 24px;
		font-weight: normal;
	}

	header{
	
		text-align: center;
	}

	header .logo{
		float: none;
		margin: 10px auto 20px auto;
	}

	header .menu-desktop{
		display: none;	
	}

	header .menu-mobile{
		display: block;
		float: none;
		
	}

	.slider{
		height: auto;
		padding-top: 70%;
	}
	
	.bullets-nav span{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #ccc;
	cursor: pointer;
	margin:0 5%;
	} 

	.wraper{
		width: 100%; /*Cada coluna */
		max-width: 250px; /*Cada um se limita a */
		height: 100px; /*Altura fixa */
		margin:  30px; /*Margin entre eles */
		display: inline-block; /*Alinha os display EM LINHA */
	}

	.section-galeria{
		width: 100%;
		height: auto;
		padding: 2px 2%;
		text-align: center;
		color:rgb(82, 94, 85);
		font-size: 20px;
		margin: 0 auto;
		
	}

	.wraper-galeria .imagem{
		border: 6px solid white;
		width: 50%;
		height: 150px;	
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		float: left;
		margin: 0 auto;
	}
}

@media screen and (max-width: 980px){

	.teste{
		display: none;
	}

	header{

		position: static;
	}

	form{
		background-color: rgba(82, 94, 85,0.2);
		width: 100%;
		max-width: 300px;
		height: auto;
		float: none;
		padding: 2%;
		margin: 80px auto 0 auto;
	}

	.info{
		width: 100%;
		float: none;
		margin-top: 20px;
		
	}

	.info .perfil{
		width: 125px;
		height: 125px;
		border-radius: calc(125px/2);
		margin: 0 auto;
		background-color: rgba(82, 94, 85,0.2);
	}

	.info .servicos{
		float: none;
		margin: 0 auto;
	}

	.info .conteudo{
		float: none;
		margin: 0 auto;
		text-align: justify;
		margin-top: 40px;
	}


	footer{
		display: none;
	
	}

	footer .contato{
		width: 100%;
		float: none;
		margin: 0 auto;


}
